<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="zeroslip_order_placed"
                  instance="ZeroSlip\MagentoBridge\Observer\OrderPlacedObserver"/>
    </event>
    <event name="customer_register_success">
        <observer name="zeroslip_customer_registered"
                  instance="ZeroSlip\MagentoBridge\Observer\CustomerRegisteredObserver"/>
    </event>
</config>
