<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="zeroslip" translate="label" sortOrder="200">
            <label>Retnly</label>
        </tab>
        <section id="zeroslip"
                 translate="label"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1"
                 sortOrder="10">
            <label>General</label>
            <tab>zeroslip</tab>
            <resource>Retnly_MagentoBridge::config</resource>
            <group id="general"
                   translate="label"
                   type="text"
                   sortOrder="10"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>General Settings</label>
                <field id="enabled"
                       translate="label"
                       type="select"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Enable Retnly Integration</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_key"
                       translate="label"
                       type="text"
                       sortOrder="20"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Retnly API Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <frontend_model>Retnly\MagentoBridge\Block\Adminhtml\System\Config\ApiKey</frontend_model>
                </field>
                <field id="store_id"
                       translate="label"
                       type="text"
                       sortOrder="30"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Retnly Store ID</label>
                </field>
                <field id="api_base_url"
                       translate="label"
                       type="text"
                       sortOrder="40"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Retnly API Base URL</label>
                    <comment>Default: https://test.backend.zeroslip.co/api/v4/magento/</comment>
                </field>
                <field id="barcode_attribute"
                       translate="label"
                       type="text"
                       sortOrder="50"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Barcode Attribute Code</label>
                    <comment>Leave empty unless your barcode attribute is named
                        something unusual. Magento has no barcode field of its own, so
                        we look for an attribute called barcode, upc, ean or gtin. If
                        yours is called something else, enter its attribute code here
                        (Stores -> Attributes -> Product).</comment>
                </field>
            </group>
            <group id="pixel"
                   translate="label"
                   type="text"
                   sortOrder="20"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Storefront Pixel</label>
                <field id="enabled"
                       translate="label"
                       type="select"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Enable Storefront Event Tracking</label>
                    <comment>Sends cart and checkout events to Retnly. Required for
                        cart-abandonment and behavioural segments.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="push_enabled"
                       translate="label"
                       type="select"
                       sortOrder="20"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Enable Web Push Registration</label>
                    <comment>Asks shoppers for notification permission and registers
                        their device with Retnly. Requires the Firebase fields below.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="firebase_api_key"
                       translate="label" type="text" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Firebase Web API Key</label>
                    <comment>From the Firebase console, Project settings -> Your apps -> Web app.</comment>
                    <depends><field id="push_enabled">1</field></depends>
                </field>
                <field id="firebase_project_id"
                       translate="label" type="text" sortOrder="40"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Firebase Project ID</label>
                    <comment>Must be the project Retnly sends from, or tokens will be rejected.</comment>
                    <depends><field id="push_enabled">1</field></depends>
                </field>
                <field id="firebase_sender_id"
                       translate="label" type="text" sortOrder="50"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Firebase Messaging Sender ID</label>
                    <depends><field id="push_enabled">1</field></depends>
                </field>
                <field id="firebase_app_id"
                       translate="label" type="text" sortOrder="60"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Firebase App ID</label>
                    <depends><field id="push_enabled">1</field></depends>
                </field>
                <field id="vapid_key"
                       translate="label" type="text" sortOrder="70"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Web Push Certificate (VAPID public key)</label>
                    <comment>Firebase console -> Cloud Messaging -> Web Push certificates.</comment>
                    <depends><field id="push_enabled">1</field></depends>
                </field>
            </group>
        </section>
    </system>
</config>
